<div class="panel panel-default">
  <div class="panel-heading">
    <h1>New Micropost</h1>
  </div>
    
    <div class="panel-body">
        <%= render 'form', micropost: @micropost %>
    </div>
    <div class="panel-footer">
        <%= link_to 'Back', microposts_path %>
    </div>
</div>
