<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "container-fluid">
    <div class="page-header">
      <h2>Joe Matula's CSC 231 ToyApp</h2>
    </div>
    
    <nav class="navbar navbar-default">
    
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/microposts">Microposts</a></li>
        <li><a href="/static_pages/about">About</a></li>
        <li><a href="/static_pages/links">Links</a></li>
      </ul>
    </nav>
    
    <div>
      <%= yield %>
    </div>
  </body>
</html>
